<h2 style="border="2px" padding="5px""> Edit Page </h2>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="add-sec">
	<a href="/list/">
	<input type="button" class="btn btn-success" value="Back"></a> 	
	
 </div>
<form role="form"  method="post" action="">{% csrf_token %}
	<div class="form-group">
		<div class="col-sm-12">
		      	<label class="control-label required">Title</label>
				<input class="form-control" type="text"  name="title" id="title" value={{article.title}} >
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
	      	<label class="control-label required">Content</label>
			<input class="form-control" type="text" name="content" id="content" value={{article.content}}>
	    </div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label class="control-label required">Author</label>	    
				<select  class="form-control" name="author" id="author">
			 		{% for i in author %}
		 				 <option value="{{i.id}}" >{{i.name}}</option>
			 		{% endfor %}
				</select>
		</div>
	</div>
  <div class="form-group">
		<div class="col-sm-12">
		  	<input class="btn btn-success" type="submit">
		 	<a href="/list/"> <button class="btn btn1">Cancel</button> </a>
	 	</div>
 	</div>
</form>