<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About us</a></li>
  <li><a href="#">Contact us</a></li>
  <li><a href="/login/"> Login </a></li>
</ul>




<style type="text/css">
	body {
    background: rgb(10, 35, 47);
    padding: 3em;
    font-family: 'Raleway','Arial';
}
ul {
list-style-type: none;
margin: 0 0 2em 0;
padding: 0%

}
ul li{
    display: inline;
    margin-right: 30px;
}

ul li a{
    font-size: 1.5em;
}
a{
    color: red;
    font-family:  Bold;
    text-decoration: none;
}
</style>